<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List Books</h1>
    {% if user.is_authenticated %}
    <p>hello</p>
    <p>welcome {{ user.username }}</p>
    <p><a href="{% url 'account:signout' %}">Logout</a></p>
    {% else %}
    <p><a href="{% url 'account:signin' %}">Login</a></p>
    <p><a href="{% url 'account:signup' %}">Register</a></p>
    {% endif %}
    <ul>
    {% for book in books %}
        <li><span>{{ book.name }}</span></li>
        <li><img src="{{ book.image }}" alt=""></li>
    {% endfor %}
    </ul>

</body>
</html>