{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} Books {{ book.name }} {% endblock %}
{% block page %} Book {{ book.name }}{% endblock %}
{% block link %}
    <li class="breadcrumb-item">
        <a href="{% url 'book:book-list' %}">Book</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="{% url 'book:book-detail' id=book.id %}">{{ book.id }}</a>
    </li>
{% endblock %}
{% block content %}

    <div class="card card-solid">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-sm-4">
                    <h3 class="d-inline-block d-sm-none">{{ book.name }}</h3>
                    <div class="col-12">
                        <img src="{{ book.image }}" class="img-thumbnail" alt="Product Image">
                    </div>
                </div>
                <div class="col-12 col-sm-8">
                    <h3 class="my-3">{{ book.name }}</h3>
                    <h4>Book details</h4>
                    <div class="text-muted">
                        <p class="text-sm">Category
                            {% for category in book.book_category.all %}
                                <b class="d-block">{{ category.name }}</b>
                            {% endfor %}
                        </p>
                        <p class="text-sm">Author
                            <b class="d-block">{{ book.author }}</b>
                        </p>
                        <p class="text-sm">Publisher
                            <b class="d-block">{{ book.publisher }}</b>
                        </p>
                        <p class="text-sm">Paperback
                            <b class="d-block">{{ book.paperback }}</b>
                        </p>
                    </div>

                    <h4>Price</h4>
                    <div class="bg-gray py-2 px-3 mt-4">
                        <h2 class="mb-0">
                            {{ book.price|intcomma }} VND
                        </h2>
                    </div>

                    <div class="mt-4">
                        <div class="btn btn-primary btn-lg btn-flat">

                            <i class="fas fa-bookmark fa-lg mr-2"></i>
                            {% if not status %}
                                <button class="btn btn-primary" type="submit" data-toggle="modal"
                                        data-target="#modal-bookmark">Add to Reading
                                </button>
                            {% else %}
                                {% if status.status == 1 %}
                                    <button class="btn btn-primary" type="submit" data-toggle="modal"
                                            data-target="#modal-bookmark">Reading
                                        - page {{ status.page_reading }}</button>
                                {% elif status.status == 2 %}
                                    <button class="btn btn-primary" type="submit" data-toggle="modal"
                                            data-target="#modal-bookmark">Read
                                    </button>
                                {% elif status.status == 0 %}
                                    <button class="btn btn-primary" type="submit" data-toggle="modal"
                                            data-target="#modal-bookmark">Add to Reading
                                    </button>
                                {% endif %}
                            {% endif %}

                        </div>
                        <div class="btn btn-primary btn-lg btn-flat">
                            <form action="{% url 'book:book-like' id=book.id %}" method="post">
                                {% csrf_token %}
                                {% if status.is_favorite == True %}
                                    <input type="hidden" name="is_favorite" value=0 hidden>
                                    <i class="fas fa-heart fa-lg mr-2"></i>
                                    <button class="btn btn-primary" type="submit">Favorited</button>
                                {% else %}
                                    <input type="hidden" name="is_favorite" value=1 hidden>
                                    <i class="fas fa-heart fa-lg mr-2"></i>
                                    <button class="btn btn-primary" type="submit" value="">Add to Favorite</button>
                                {% endif %}
                            </form>
                        </div>
                        {% if user.role == 1 %}
                            <div class="btn btn-primary btn-lg btn-flat">
                                <i class="fas fa-edit fa-lg mr-2"></i>
                                <a class="btn btn-primary" href="{% url 'book:book-update' id=book.id %}">Edit book</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-sm-12">
                    <div class="col-12">
                        <hr>
                        <h4>Description</h4>
                        <p class="text-muted">{{ book.description }}</p>
                    </div>

                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12 col-sm-12">
                    <div class="col-12">
                        <hr>
                        <h4>Comments</h4>
                        {% for review in reviews %}
                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src="{% static 'img/user1-128x128.jpg' %}"
                                         alt="user image">
                                    <span class="username">
                                    <a href="#">{{ review.0 }}</a>
                                    <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                                </span>
                                    <span class="description">Shared publicly - {{ review.2 }}</span>
                                </div>
                                <!-- /.user-block -->
                                <p>{{ review.1 }}</p>
                                <p><a href="#" class="link-black text-sm"><i class="far fa-thumbs-up mr-1"></i>Like</a>
                                </p>
                            </div>
                        {% endfor %}
                        <form action="{% url 'book:book-review' id=id %}" method="post">
                            {% csrf_token %}
                            <textarea class="form-control form-control-sm" rows="3" placeholder="Type a comment"
                                      name="message" maxlength="512"></textarea>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <div class="modal fade" id="modal-bookmark" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Bookmark Modal</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form action="{% url 'book:book-mark' id=book.id %}" method="post">
                    <div class="modal-body">
                        {% csrf_token %}
                        <input type="number" class="form-control" id="inputName"
                               placeholder="Bookmark" name="page_reading" required min=1>

                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
{% endblock %}