{% extends 'base.html' %}
{% load static %}

{% block title %} Book list {% endblock %}
{% block page %}Books{% endblock %}
{% block link %}
    <li class="breadcrumb-item">
        <a href="{% url 'book:book-list' %}">Book</a>
    </li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Books Table</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Category</th>
                            <th>Author</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in books %}
                            <tr>
                                <td>{{ book.id }}.</td>
                                <td><a href="{% url 'book:book-detail' id=book.id %}">{{ book.name }}</a></td>
                                <td><img src="{{ book.image }}" width="75" height="100" class="img-rounded"></td>
                                <td>
                                    {% for category in book.book_category.all %}
                                        <p>
                                            <a href="{% url 'book:book-list' %}?category={{ category.name|urlencode }}">{{ category.name }}</a>
                                        </p>
                                    {% endfor %}

                                </td>
                                <td><span>{{ book.author }}</span></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right">
                        {% if books.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">«</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ books.previous_page_number }}">prev</a>
                            </li>
                        {% endif %}
                        <li class="page-item">
                            <a class="current page-link">
                                {{ books.number }}
                            </a>
                        </li>
                        {% if books.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ books.next_page_number }}">next</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ books.paginator.num_pages }}">»</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block custom_js %}
    <script>
        {% for book in books %}
            var book = '{{ book.to_json|escapejs }}';
            JSON.parse(book);
            console.log(book);
        {% endfor %}
    </script>
{% endblock %}