<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Book: {{ book.name }}</h2>
<form action="{% url 'book:book-mark' id=id %}" method="post">
    {% csrf_token %}
    <input type="text" name="page_reading">
    <button type="submit">Mark</button>
</form>
<form action="{% url 'book:book-like' id=id %}" method="post">
    {% csrf_token %}
    {% if status.is_favorite == True %}
        <input type="hidden" name="is_favorite" value=0 hidden>
        <button type="submit">Liked</button>
    {% else %}
        <input type="hidden" name="is_favorite" value=1 hidden>
        <button type="submit">Like</button>
    {% endif %}
</form>
{% for category in book.category.all %}
    <ul>
    <li>{{ category.name }}</li>
    </ul>
{% endfor %}
<img src="{{ book.image }}" alt="">
<div>
    Description: {{ book.description }}
    <br>
    Status: {% if not status %}
            Unread
            {% else %}
                {% if status.status == '1' %}
                    Reading - {{ status.page_reading }}
                {% elif status.status == '2' %}
                    Read
                {% endif %}
            {% endif %}
</div>
<div>
    <p>Review</p>
    <p>Have {{ reviews|length }} comments</p>
    {% for review in reviews %}
        <ul>
        <li>Message: {{ review.0 }}</li>
        <li>Account: {{ review.1 }}</li>
        </ul>
    {% endfor %}
    <p>Form Review</p>
    <form action="{% url 'book:book-review' id=id %}" method="post">
    {% csrf_token %}
    <input type="text" name="message">
    <button type="submit">Submit</button>
</form>
</div>
</body>
</html>