{% load static %}
<div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="{% if user.avatar %}/media/{{ user.avatar }}{% else %}{% static 'img/user2-160x160.jpg' %}{% endif %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="{% url 'users:user-detail' id=user.id %}" class="d-block">{{ user.username }}</a>
            <small><a href="{% url 'users:signout' %}">SignOut</a></small>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
            data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item has-treeview menu-open">
                <a href="{% url 'book:book-list' %}" class="nav-link {% if '/book' in request.path %}active{% endif %}">
                    <i class="nav-icon fa fa-book"></i>
                    <p>
                        Book
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'book:book-list' %}"
                           class="nav-link {% if not request.GET and not '/book/category/' == request.path %}active{% endif %}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'book:book-category' %}" class="nav-link {% if '/book/category/' == request.path %}active{% endif %}">
                            <i class="fa fa-list-alt nav-icon"></i>
                            <p>Category</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'book:book-list' %}?favorited=true" class="nav-link {% if request.GET.favorited == 'true' %}active{% endif %}">
                            <i class="far fa-thumbs-up nav-icon"></i>
                            <p>Favorite</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'book:book-list' %}?reading=true" class="nav-link {% if request.GET.reading == 'true' %}active{% endif %}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Reading</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'book:book-list' %}?read=true" class="nav-link {% if request.GET.read == 'true' %}active{% endif %}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Read</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'book:list-request-buy' %}" class="nav-link">
                            <i class="fa fa-shopping-cart nav-icon"></i>
                            <p>Request Buy</p>
                        </a>
                    </li>
                    {% if user.role == 1 %}
                        <li class="nav-item">
                            <a href="{% url 'book:book-create' %}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Add Book</p>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            <li class="nav-item has-treeview menu-open">
                <a href="{% url 'users:users-list' %}"
                   class="nav-link {% if '/user' in request.path %}active{% endif %}">
                    <i class="nav-icon fa fa-user"></i>
                    <p>
                        Users
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url 'users:users-list' %}"
                           class="nav-link {% if request.path == '/users/' %}active{% endif %}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'users:user-followed' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>User Followed</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>