<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>List Books</h1>
    {% if user.is_authenticated %}
    <p>hello</p>
    <p>welcome {{ user.username }}</p>
    <p><a href="{% url 'account:signout' %}">Logout</a></p>
    {% else %}
    <p><a href="{% url 'account:signin' %}">Login</a></p>
    <p><a href="{% url 'account:signup' %}">Register</a></p>
    {% endif %}
    <ul>
    {% for account in accounts %}
        <li>Username: <span>{{ account.user.username }}</span></li>
        <li><img src="{{ account.avatar }}" alt=""></li>
        <li>Role: <span>
            {% if account.role == '1' %}
                Normal
            {% else %}
                Admin
            {% endif %}
        </span></li>
    {% endfor %}
    </ul>

</body>
</html>