{% extends 'base.html' %}
{% load static %}

{% block title %} User {{ member.username }} {% endblock %}
{% block link %}
    <li class="breadcrumb-item">
        <a href="{% url 'users:users-list' %}">Users</a>
    </li>
    <li class="breadcrumb-item active">
        <a href="{% url 'users:user-detail' id=member.id %}">{{ member.username }}</a>
    </li>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle" src="{% static 'img/user4-128x128.jpg' %}"
                             alt="User profile picture">
                    </div>

                    <h3 class="profile-username text-center">{{ member.username }}</h3>

                    <p class="text-muted text-center">Software Engineer</p>

                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Followers</b> <a class="float-right">1,322</a>
                        </li>
                        <li class="list-group-item">
                            <b>Following</b> <a class="float-right">543</a>
                        </li>
                        <li class="list-group-item">
                            <b>Friends</b> <a class="float-right">13,287</a>
                        </li>
                    </ul>

                    <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- About Me Box -->
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">About Me</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <strong><i class="fas fa-book mr-1"></i> Education</strong>

                    <p class="text-muted">
                        {{ member.education }}
                    </p>

                    <hr>

                    <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                    <p class="text-muted">{{ member.location }}</p>

                    <hr>

                    <strong><i class="fas fa-pencil-alt mr-1"></i> Skills</strong>

                    <p class="text-muted">{{ member.skills }}</p>

                    <hr>

                    <strong><i class="far fa-file-alt mr-1"></i> Notes</strong>

                    <p class="text-muted">{{ member.notes }}</p>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#timeline" data-toggle="tab">Timeline</a>
                        </li>
                        {% if member.id == user.id or user.role == 1 %}
                            <li class="nav-item">
                            <a class="nav-link" href="#settings-profle" data-toggle="tab">Settings Profile</a>
                        {% endif %}

                        {% if user.role == 1 %}
                            <li class="nav-item">
                            <a class="nav-link" href="#settings-role" data-toggle="tab">Settings Role</a>
                        {% endif %}
                        </li>
                    </ul>
                </div><!-- /.card-header -->
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="timeline">
                            <!-- The timeline -->
                            <div class="timeline timeline-inverse">
                                <!-- timeline time label -->
                                <div class="time-label">
                                    <span class="bg-danger">
                                      Now
                                    </span>
                                </div>
                                {% for activity in activities %}
                                    <div>
                                        {% if activity.obj_target == 'user' %}
                                            <i class="fas fa-user bg-info"></i>
                                        {% elif activity.obj_target == 'book' %}
                                            <i class="fa fa-book bg-info"></i>
                                        {% elif activity.obj_target == 'comment' %}
                                            <i class="fas fa-comments bg-yellow"></i>
                                        {% endif %}
                                        <div class="timeline-item">
                                            <span class="time"><i
                                                    class="far fa-clock"></i> {{ activity.create_at }} </span>

                                            {% if activity.obj_target == 'comment' %}
                                                <h3 class="timeline-header">
                                                    <a href="{% url 'users:user-detail' id=activity.source_user_id %}">{{ activity.source_user }}
                                                    </a> {{ activity.activity }}
                                                    <a href="{% url 'book:book-detail' id=activity.obj_target_id %}">{{ activity.obj_target_name }}</a>
                                                </h3>
                                                <div class="timeline-body">
                                                    {{ activity.obj_target_content }}
                                                </div>
                                            {% else %}
                                                <h3 class="timeline-header border-0">
                                                    <a href="{% url 'users:user-detail' id=activity.source_user_id %}">{{ activity.source_user }}</a>
                                                    {{ activity.activity }}
                                                    <a href="{% if activity.obj_target == 'user' %}
                                                            {% url 'users:user-detail' id=activity.obj_target_id %}
                                                            {% elif activity.obj_target == 'book' %}
                                                            {% url 'book:book-detail' id=activity.obj_target_id %}
                                                        {% endif %}">{{ activity.obj_target_name }}</a>
                                                </h3>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                                <!-- /.timeline-label -->
                                <!-- timeline item -->

                                <div>
                                    <i class="far fa-clock bg-gray"></i>
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-pane -->

                        <div class="tab-pane" id="settings-profle">
                            <form class="form-horizontal" action="{% url 'users:user-update' id=member.id %}"
                                  method="POST">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label for="inputUserName" class="col-sm-2 col-form-label">Username/Email</label>
                                    <div class="col-sm-10">
                                        <input type="email" class="form-control" id="inputUsername" placeholder="Name"
                                               name="username" value="{{ member.username }}" required>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputSkills" placeholder="Skills"
                                               name="skills" value="{{ member.skills }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputLocation" class="col-sm-2 col-form-label">Location</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputLocation"
                                               placeholder="Location" name="location" value="{{ member.location }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEducation" class="col-sm-2 col-form-label">Education</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputEducation"
                                               placeholder="Education" name="education" value="{{ member.education }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputNotes" class="col-sm-2 col-form-label">Notes</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" id="inputNotes"
                                                  name="notes">{{ member.notes }}</textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="offset-sm-2 col-sm-10">
                                        <button type="submit" class="btn btn-danger">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.tab-pane -->

                        {% if user.role == 1 %}
                            <div class="tab-pane" id="settings-role">
                                <form class="form-horizontal" action="{% url 'users:change-role' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group row">
                                        <label for="inputUserName" class="col-sm-2 col-form-label">Username</label>
                                        <div class="col-sm-10">
                                            <input type="email" class="form-control" id="inputName" placeholder="Name"
                                                   name="username" value="{{ member.username }}" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputRole" class="col-sm-2 col-form-label">Role Select</label>
                                        <div class="col-sm-2">
                                            <select class="custom-select" name="role">
                                                {% if member.role == 1 %}
                                                    <option value=1 selected>Admin</option>
                                                    <option value=2>Members</option>
                                                {% else %}
                                                    <option value=1>Admin</option>
                                                    <option value=2 selected>Members</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="offset-sm-2 col-sm-10">
                                            <button type="submit" class="btn btn-danger">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.tab-pane -->
                        {% endif %}
                    </div>
                    <!-- /.tab-content -->
                </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
{% endblock %}